/*! This project uses Gridify.scss | https://github.com/julian-hecker/Gridify.scss/ | MIT License */

/// Create a grid wrapper with custom number of columns and gap sizes.
/// @name   Gridify
/// @author Julian Hecker
/// @param  {integer} $columns [12] - Sets number of columns for grid to use.
/// @param  {length} $gap-size [1rem] - Sets spacing between grid items.
/// @param  {integer} $rows [1] (optional) Sets number of rows to use.
/// @output A grid container with a given number of columns and gap widths.
@mixin gridify($columns: 12, $gap-size: 1rem, $rows: 1) {
  display: grid;
  // grid-gap is deprecated
  column-gap: $gap-size; row-gap: $gap-size;
  // Creates grid with number of desired equal columns
  grid-template-columns: repeat($columns, 1fr);
  // Creates rows based on content size
  grid-template-rows: repeat($rows, auto);
  // Overflowing content goes to a new row
  grid-auto-flow: row;
}


// include grid fallback code inside here
@mixin supportNotGrid() {
  @supports not ((display: grid) or (display: contents) or (grid-template-areas: "test")) {
    @content;
  }
}

// include CSS Grid statements inside here
@mixin supportGrid() {
  @supports (display: grid) and (display: contents) and (grid-template-areas: "test") {
    @content;
  }
}


/// Given a list of lists containing grid-areas, columns, and rows,
/// creates a valid grid-template-areas value.
/// @name   templateAreas
/// @author Julian Hecker
/// @param  {list} $list - list where each value is a nested list which has ($grid-area, $columns).
/// @example @include templateArea( ( ("logo", 3), ("nav-links", 8), ("button", 1) ) );
/// @throw  Error if argument is not list.
/// @output Creates a `grid-template-areas` declaration based on argument list.
@mixin templateAreas($list) {
  @if type-of($list) != list {
    @error "templateAreas mixin must take a SCSS list as its argument!"
  }

  $result: "";
  $rows: 1;
  @for $i from 1 through length($list) {
    // Each nested list contains these three variables
    $area: "";
    $areaColumns: 1;
    $areaRows: 1;
    // Extract those variables' values from the nested list
    @for $j from 1 through length(nth($list, $i)) {
      @if $j == 1 {
        // Set $area to the first element in each sub-array.
        $area: nth(nth($list, $i), $j);
      }
      @if $j == 2 {
        // Set $areaColumns to the second element in each sub-array.
        $areaColumns: nth(nth($list, $i), $j);
      }
      @if $j == 3 {
        // Set $areaRows to the third element in each sub-array.
        $areaRows: nth(nth($list, $i), $j);
        // If this area has more rows, increase max rows
        @if $areaRows > $rows {
          $rows: $areaRows;
        }
      }
    }

    // Concatenate the grid-area for each column
    @for $k from 1 through $areaColumns {
      $result: $result + $area + " ";
    }

    // Rows not supported yet!
    @if $rows > 1 {
      @warn "WARNING! Gridify.scss does not yet support multiple rows. Please check your templateAreas arguments.";
    }
  }
  grid-template-areas: $result;
}


// Write about Gridify to replace Bootstrap Grid